<!-- post.html -->
{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %}
Query SR info from ICD
{% endblock %}
{% block headmessage %}
    <h3 style="font-family: 'Arial Black'">{{ post.title }}</h3>
{% endblock %}
{% block content %}
    <form method="post" action=".">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="hostname">Hostname:</label>
                <input type="text" class="form-control" id="hostname" name="hostname" placeholder="EVR-CCD1-L01322">
            </div>
            <div class="form-group col-md-4">
                <label for="j_username">Username:</label>
                <input type="email" class="form-control" id="j_username" name="j_username" value="feilibj@cn.ibm.com">
            </div>
            <div class="form-group col-md-4">
                <label for="j_password">Password:</label>
                <input type="password" class="form-control" id="j_password" name="j_password" value="QAZqaz!@#123">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Query SR</button>
        <label class="label label-info">This will take about 15 seconds. But if SoftLayer vpn disconnected, it will take about 60 seconds to reconnect.</label>
    {% csrf_token %}
    </form>

    <table class="table table-bordered table-striped table-condensed" style="font-size: 10pt">
        <caption><h3>CMDB info from ICD</h3></caption>
        <tr><th>Hostname</th><td>{{ sr_cmdb_info.hostname }}</td></tr>
        <tr><th>COMPUTERSYSTEM_NAME</th><td>{{ sr_cmdb_info.name }}</td></tr>
        <tr><th>COMPUTERSYSTEM_NUMCPUS</th><td>{{ sr_cmdb_info.numcpus }}</td></tr>
        <tr><th>COMPUTERSYSTEM_MEMORYSIZE</th><td>{{ sr_cmdb_info.memorysize }}</td></tr>
        <tr><th>COMPUTERSYSTEM_TSHIRTSIZE</th><td>{{ sr_cmdb_info.tshirtsize }}</td></tr>
        <tr><th>COMPUTERSYSTEM_OPERATIONALSTATUS</th><td>{{ sr_cmdb_info.operationalstatus }}</td></tr>
        <tr><th>COMPUTERSYSTEM_MODEL</th><td>{{ sr_cmdb_info.model }}</td></tr>
    </table>

{#        <table class="table table-bordered table-sm" style="font-size: 8pt">#}
{#        <caption>SR info from ICD</caption>#}
{#		<thead class="thead-light"><tr><th>Service Request Id</th><th>Summary</th><th>Classification Description</th><th>Status</th><th>Configuration Item Name</th><th>ITDIPADDRESS_EP (ip)</th><th>ITDHOSTNAME (hostname)</th><th>ITDDISK0SIZE (disksize)</th><th>ITDMEMORY (memsize)</th><th>EVRVIRTUALSIZE (virtualsize)</th><th>EVRVCPUSIZE (cpusize)</th><th>ITDHYPERVISOR</th><th>ITDCUSTOMER (customer)</th></tr></thead>#}
{#        <tbody><tr class="table-success"><td>{{ sr_icd_info.sr }}</td><td>{{ sr_icd_info.summary }}</td><td>{{ sr_icd_info.classification_description }}</td><td>{{ sr_icd_info.status }}</td><td>{{ sr_icd_info.configuration_item_name }}</td><td>{{ sr_icd_info.ip }}</td><td>{{ sr_icd_info.hostname }}</td><td>{{ sr_icd_info.disksize }}</td><td>{{ sr_icd_info.memsize }}</td><td>{{ sr_icd_info.virtualsize }}</td><td>{{ sr_icd_info.cpusize }}</td><td>{{ sr_icd_info.hypervisor }}</td><td>{{ sr_icd_info.customer }}</td></tr></tbody>#}
{#        </table>#}
{% endblock %}
