<!-- index.html -->
{% extends 'base.html' %}
{% block title %}Evry Test Portal{% endblock %}
{% block headmessage %}
    <h3 style="font-family: 'Arial Black'">...</h3>
{% endblock %}
{% block content %}
    <table class="table table-bordered table-striped table-condensed" style="font-size: 10pt">
        <tr>
            <th rowspan="3" style="text-align: center; font-size: large"><br><br>Tools for ICD</th>
            <td>
                <a href="http://192.168.200.131:8000/evrytestportal/icd_create_linux_sr/">Create SR - Linux Provision</a>
            </td>
            <td>
                <a href="http://192.168.200.131:8000/evrytestportal/icdhistory/SRCreateServerLinuxRecord/">History of Create SR - Linux Provision</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://192.168.200.131:8000/evrytestportal/icd_sr/">Query SR info from ICD</a>
            </td>
            <td>
                <a href="http://192.168.200.131:8000/evrytestportal/icdhistory/QuerySRRecord/">History of Query SR info from ICD</a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="http://192.168.200.131:8000/evrytestportal/icd_cmdb/">Query CMDB info from ICD</a>
            </td>
            <td>
                <a href="http://192.168.200.131:8000/evrytestportal/icdhistory/QueryCMDBRecord/">History of Query CMDB info from ICD</a>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; font-size: large">Tools for VIO</th>
            <td>
                <a href="/evrytestportal/vioinfo">Query instance in VIO</a>
            </td>
            <td>
                <a href="icdhistory/VIORecord/">History of VIO query</a>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; font-size: large">Tools for Linux Instance</th>
            <td>
                <a href="/evrytestportal/linuxinstanceinfo">Get Linux Instance Info</a>
            </td>
            <td>
                <a href="icdhistory/LinuxInfoRecord/">History of Linux Instance</a>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; font-size: large">Tools for Rundeck</th>
            <td>
                <a href="/evrytestportal/rundeckinfo">Get Rundeck Info</a>
            </td>
            <td>
                <a href="icdhistory/RundeckEecord/">History of Rundeck Info</a>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; font-size: large">End to end Test</th>
            <td>
                <a href="icdhistory/EndtoendRecord/">View End to End testcase status</a>
            </td>
    </table>

{% endblock %}

{#            <div class="list-group">#}
{#                <a href="/evrytestportal/icd_create_sr" class="list-group-item list-group-item-action">Create SR - Linux#}
{#                    Provision</a>#}
{#                <a href="icd" class="list-group-item list-group-item-action">Query SR info from ICD</a>#}
{#            </div>#}