<!-- index.html -->
{% extends 'base.html' %}
{% block title %}Evry Test Portal{% endblock %}
{% block headmessage %}
    <h3 style="font-family: 'Arial Black'">...</h3>
{% endblock %}
{% block content %}
    <table class="table table-bordered table-striped table-condensed" style="font-size: 10pt">
        <tr>
            <th>Tools for ICD</th>
            <td>
                <a href="/evrytestportal/icd_create_linux_sr">Create SR - Linux Provision</a>
                <br>
                <a href="icd_sr">Query SR info from ICD</a>
                <br>
                <a href="icd_cmdb">Query CMDB info from ICD</a>
            </td>
            <td>
                <a href="icdhistory/SRCreateServerLinuxRecord/">History of Create SR - Linux Provision</a>
                <br>
                <a href="icdhistory/QuerySRRecord/">History of Query SR info from ICD</a>
                <br>
                <a href="icdhistory/QueryCMDBRecord/">History of Query CMDB info from ICD</a>
            </td>
        </tr>
        <tr>
            <th>Tools for VIO</th>
            <td><a href="/evrytestportal/">Not ready</a><br><a href="icd">Not ready</a></td>
        </tr>
        <tr>
            <th>Tools for Rundeck</th>
            <td><a href="/evrytestportal/">Not ready</a><br><a href="icd">Not ready</a></td>
        </tr>
    </table>


{% endblock %}

{#            <div class="list-group">#}
{#                <a href="/evrytestportal/icd_create_sr" class="list-group-item list-group-item-action">Create SR - Linux#}
{#                    Provision</a>#}
{#                <a href="icd" class="list-group-item list-group-item-action">Query SR info from ICD</a>#}
{#            </div>#}