<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evry test portal</title>
</head>
<body>
<h2>Instance info get completed.</h2>
<table border="1">
<tr>
  <th>Hostname</th>
  <th>IP</th>
  <th>CPUnumber</th>
  <th>MEM</th>
  <th>Disk</th>
  <th>NTPTimeZone</th>
  <th>DNSstatus</th>
  <th>ITMINFO</th>
  <th>BigfixINFO</th>
</tr>
<tr>
  <td>{{ result.Hostname}}</td>
  <td>{{ result.IP}}</td>
  <td>{{ result.CPUnumber}}</td>
  <td>{{ result.MEM}}</td>
  <td>{{ result.Disk}}</td>
  <td>{{ result.NTPTimeZone}}</td>
  <td>{{ result.DNSstatus}}</td>
  <td>{{ result.ITMINFO}}</td>
  <td>{{ result.BigfixINFO}}</td>
</tr>
</table>
<h3><a href="logdetails.html?info={{ info }}">See log details: {{ info }}</a></h3>
</body>
</html>