<!-- post.html -->
{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %}
Query SR info from ICD
{% endblock %}
{% block headmessage %}
    <h3 style="font-family: 'Arial Black'">{{ post.title }}</h3>
{% endblock %}
{% block content %}
    <form method="post" action=".">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="domain">End to End ID:</label>
                <input class="form-control" name="endtoendID" id="endtoendID" type="text" placeholder="End to End ID">
            </div>
            <div class="form-group col-md-2">
                <label for="srid">Service Request Id:</label>
                <input type="text" class="form-control" id="srid" name="srid" >
            </div>
            <div class="form-group col-md-2">
                <label for="icd_max">ICD Max:</label>
                <input type="text" class="form-control" id="icd_max" name="icd_max" value="20">
            </div>
            <div class="form-group col-md-2">
                <label for="private_max">PrivateCloud Max:</label>
                <input type="text" class="form-control" id="private_max" name="private_max" value="30">
            </div>
            <div class="form-group col-md-2">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" value="e214375">
            </div>
            <div class="form-group col-md-2">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" value="Evry2018">
            </div>
        </div>
        <button id="btn" type="submit" class="btn btn-primary">Query Rundeck</button>
        <label class="text-primary">This will not work when Evry vpn disconnected.</label>
        {% csrf_token %}
    </form>

    {% if errormessage != None %}
            <br>
            <div class="text-danger">{{ errormessage }}</div>
            <br>
    {% endif %}
    <br>
    <table class="table table-bordered table-striped table-condensed" style="font-size: 10pt">
        <caption><h3>VIO info from VIO</h3></caption>
        <tr><th>SR ID</th><td>{{ rundeckJobInfo.srid }}</td></tr>
        <tr><th>ICD Dispatcher Job ID</th><td>{{ rundeckJobInfo.icdDispatcherJobID }}</td></tr>
        <tr><th>ICD Job Status</th><td>{{ rundeckJobInfo.icdDispatcherJobStatus }}</td></tr>
        <tr><th>ICD Job Duration</th><td>{{ rundeckJobInfo.icdDispatcherJobDuration }}</td></tr>
        <tr><th>Workorder ID</th><td>{{ rundeckJobInfo.workorderid }}</td></tr>
        <tr><th>PrivateCloud Job ID</th><td>{{ rundeckJobInfo.privatecloudJobID }}</td></tr>
        <tr><th>PrivateCloud Job Title</th><td>{{ rundeckJobInfo.privatecloudJobTitle }}</td></tr>
        <tr><th>PrivateCloud Job Status</th><td>{{ rundeckJobInfo.privatecloudJobStatus }}</td></tr>
        <tr><th>PrivateCloud Job Duration</th><td>{{ rundeckJobInfo.privatecloudJobDuration }}</td></tr>
    </table>
{% endblock %}